build
.gradle
/local.properties
/.idea/workspace.xml
.DS_Store
*.iml
.idea
*.zip
local.properties
*.class
library/src/main/bin
library/src/main/gen/com/nononsenseapps/filepicker/BuildConfig.java
library/src/main/gen/com/nononsenseapps/filepicker/R.java
